/upload/env/
/Api/env/
/Api/__pycache__/
/nextjs/env/
/nextjs/node_modules/
/nextjs/__pycache__/
/freelanceEthiopa/env
/freelanceEthiopa/freelance-data.db
/freelanceEthiopa/__pycache__/
/env/
/reading-json/env
/reading-json/__pycache__/
/reading-json/database.db
/reading-json/freelance-data.db
/reading-json/freelance_ethio_messages.json
/reading-json/msgs_dataset.csv
/Simpulation/env
/simulation/env
/pig_game/env
/github_cli_tool/env
/random_fact/env
/github_cli_tool/words.txt
/document_manuplation/env
/flask_test_lab/env
